{
	"env": {
		"browser": true,
		"es2021": true
	},
	"extends": ["plugin:react/recommended", "airbnb"],

	"parserOptions": {
		"ecmaFeatures": {
			"jsx": true
		},
		"ecmaVersion": "latest",
		"sourceType": "module"
	},
	"plugins": ["react", "prettier"],
	"rules": {
		"semi": "off",
		"no-tabs": "off",
		"no-return-await": "off",
		"no-else-return": "off",
		"no-param-reassign": "off",
		"react/jsx-indent": "off",
		"react/prop-types": "off",
		"object-curly-newline": "off",
		"jsx-a11y/label-has-associated-control": "off",
		"react/jsx-indent-props": "off",
		"jsx-quotes": "off",
		"no-plusplus": "off",
		"prefer-destructuring": "off",
		"no-useless-return": "off",
		"react/jsx-one-expression-per-line": "off",
		"no-restricted-syntax": "off",
		"guard-for-in": "off",
		"quotes": ["warn", "single"],
		"indent": [2, "tab", { "SwitchCase": 1 }],
		"prefer-const": "off",
		"react/destructuring-assignment": "off",
		"max-len": ["error", { "code": 150 }],
		"no-console": "warn",
		"no-unused-vars": "off",
		"no-underscore-dangle": "off",
		"no-shadow": "off",
		"comma-dangle": ["error", "always-multiline"],
		"import/extensions": "off",
		"import/no-extraneous-dependencies": "off",
		"import/prefer-default-export": "off",
		"import/order": [
			"error",
			{
				"groups": ["builtin", "external", "internal", "parent", "sibling", "index", "object", "type"],
				"newlines-between": "always-and-inside-groups"
			}
		],
		"react/no-deprecated": "error",
		"react/jsx-max-props-per-line": [1, { "maximum": { "single": 3, "multi": 1 } }],
		"react/jsx-sort-props": [
			"warn",
			{
				"callbacksLast": true,
				"shorthandFirst": true,
				"multiline": "last",
				"ignoreCase": true,
				"noSortAlphabetically": false,
				"reservedFirst": true,
				"locale": "auto"
			}
		],
		"react/jsx-filename-extension": ["error", { "extensions": [".js", ".jsx", ".ts", ".tsx"] }],
		"react/require-default-props": "off",
		"react/react-in-jsx-scope": "off",
		"react/jsx-props-no-spreading": "off",
		"react/function-component-definition": "off",
		"react/no-array-index-key": "warn",
		"linebreak-style": ["error", "windows"]
	}
}
