{
	"env": {
		"browser": true,
		"es2021": true
	},
	"extends": ["plugin:react/recommended", "airbnb"],

	"parserOptions": {
		"ecmaFeatures": {
			"jsx": true
		},
		"ecmaVersion": "latest",
		"sourceType": "module"
	},
	"plugins": ["react", "prettier"],
	"rules": {
		"semi": "off",
		"no-tabs": "off",
		"no-return-await": "off",
		"no-param-reassign": "off",
		"react/jsx-indent": "off",
		"react/prop-types": "off",
		"object-curly-newline": "off",

		"jsx-a11y/label-has-associated-control": "off",
		"react/jsx-indent-props": "off",
		"jsx-quotes": "off",
		"no-useless-return": "off",
		"react/jsx-one-expression-per-line": "off",
		"no-restricted-syntax": "off",
		"guard-for-in": "off",

		// Использование кавычек в импортах
		"quotes": ["warn", "single"],
		// Количество пробелов слева строки (отступов)
		// indent: 'off',
		"indent": [2, "tab", { "SwitchCase": 1 }],
		// Использование кавычек в свойствах компонент (в JSX)
		// 'jsx-quotes': ['warn', 'prefer-double'],
		// Обязательное использование const если нет переопределения переменной
		"prefer-const": "error",
		// Максимальная длинна строки
		"max-len": ["error", { "code": 150 }],

		// Использование консоль логов
		"no-console": "warn",
		// Вырубаем стандартное слежение за переменными ESLint и врубаем его в ТС ниже
		"no-unused-vars": "off",
		// Разрешаем нижние подчеркивания для переменных
		"no-underscore-dangle": "off",
		/**
		 *  Убираем проверку затенения (объявление одинаковых переменных в разных областях)
		 *  Криво работает с TS, ругается на enum'ы
		 */
		"no-shadow": "off",
		/**
		 * Запятая после последнего свойства/элемента в объектах/массивах.
		 * always-multiline - требует запятые в конце, когда последний элемент или свойство
		 * находится на другой строке, с закрывающими "]" или "}"
		 * Правила тут https://eslint.org/docs/latest/rules/comma-dangle#rule-details
		 */
		"comma-dangle": ["error", "always-multiline"],
		// Отключаем обязательное указание расширения импортируемого файла
		"import/extensions": "off",
		// Выдавать ошибку при импорте пакетов не указанных в package.json
		"import/no-extraneous-dependencies": "off",
		// Обязательное использование "export default"
		"import/prefer-default-export": "off",
		/**
		 * Сортировка импортов вначале файла
		 * для работы нужен eslint-plugin-import (просто посмотри есть ли он в node_modules)
		 * groups - Сортировка импортов
		 * newlines-between - Пустая строка между группами импортов
		 * Правила тут https://github.com/import-js/eslint-plugin-import/blob/main/docs/rules/order.md
		 */
		"import/order": [
			"error",
			{
				"groups": ["builtin", "external", "internal", "parent", "sibling", "index", "object", "type"],
				"newlines-between": "always-and-inside-groups"
			}
		],

		// Запрещаем, использование устаревших методов реакта
		"react/no-deprecated": "error",

		// Количество передаваемых пропсов на 1 строке (single) и при множестве строк (multi)
		"react/jsx-max-props-per-line": [1, { "maximum": { "single": 3, "multi": 1 } }],
		/**
		 * Сортировка передаваемых пропсов в компоненту
		 * callbacksLast - Колбеки идут последними
		 * shorthandFirst - короткие пропсы (когда передаешь только имя пропса) идут первыми
		 * с сохранением сортировки по алфавиту
		 * multiline - пропсы имеющие в себе переносы строки (объекты) идут последними (перед колбеками)
		 * ignoreCase - игнорирование регистра для сортировки по алфавиту
		 * noSortAlphabetically - отключить сортировку по алфавиту
		 * reservedFirst = вначале передаются зарезервированные реактом пропсы (прим. key/ref),
		 * может принимать массив с пропсами к которым применимо данное правило
		 * locale - языковой стандарт (лучше оставлять в авто)
		 */
		"react/jsx-sort-props": [
			"warn",
			{
				"callbacksLast": true,
				"shorthandFirst": true,
				"multiline": "last",
				"ignoreCase": true,
				"noSortAlphabetically": false,
				"reservedFirst": true,
				"locale": "auto"
			}
		],
		// Форматы импортируемых файлов
		"react/jsx-filename-extension": ["error", { "extensions": [".js", ".jsx", ".ts", ".tsx"] }],
		// Отключение обязательного использования дефолтных пропсов
		"react/require-default-props": "off",
		// Отключение обязательного импорта реакта для jsx, только для 17+ версий реакта
		"react/react-in-jsx-scope": "off",
		"react/jsx-props-no-spreading": "off",

		"react/function-component-definition": "off",
		"react/no-array-index-key": "warn",
		"linebreak-style": ["error", "windows"]
	}
}
